version: '3.8'

services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sql_server_book
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=YourStrong!Passw0rd
    ports:
      - "1433:1433"
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P 'YourStrong!Passw0rd' -Q 'SELECT 1' || exit 1"]
      interval: 10s
      retries: 10
      start_period: 10s

  app:
    build:
      context: ./App
    container_name: csharp_book_app
    environment:
      - DB_SERVER=db
      - INIT_SQL_PATH=/app/init.sql
    depends_on:
      - db
    volumes:
      - ./init.sql:/app/init.sql
